.main-contacto {
    margin-top: 1.5rem;
}

.aside-contacto {
    background-color: var(--violeta-palido);
}

.titulo-contacto {
    margin-left: 2rem;
    margin-right: 2rem;
}

.formulario, .bloque-redes, .bloque-datos {
    margin: 2rem;
}

fieldset, legend, input {
    margin-bottom: 0.8rem;
}

input, textarea {
    border-radius: 0.375rem;
    border: 1px solid var(--gris-claro);
    padding: 0.3rem;
}

textarea {
    max-width: 100%;
}

button {
    padding: 0.8rem;
    background-color: var(--violeta-oscuro);
    color:  var(--semi-blanco);
    border: none;
    border-radius: 0.375rem;
}

button:hover {
    background-color: var(--violeta-claro);
    color:  var(--semi-blanco);
}

.icono-aside {
    width: 15px;
}

/* MOBILE */

.aside-contacto {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.div-botones-formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.boton-resetear, .boton-enviar {
    width: 100%;
}

/* TABLET y DESKTOP */

@media (min-width: 768px) {

    .main-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo titulo"
            "seccion aside"
    }

    .titulo-contacto {
        grid-area: titulo;
    }

    .seccion-contacto {
        grid-area: seccion;
    }

    .aside-contacto {
        grid-area: aside;
        margin: 2rem;
        padding: 0;
        align-content: center;
    }

    .div-botones-formulario {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    }   

    .boton-resetear, .boton-enviar {
    width: max-content;
    }    

}