.seccion-presentacion {
    background-color: #fff0ff;
}

.presentacion {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.imagen-presentacion {
    margin: 1rem;
    border-radius: 0.375rem;
}

.contenido-presentacion {
    margin: 1rem;
}

.seccion-tarjetas {
    margin-top: 1rem;
    margin-bottom: 1rem;
}